# IIT DevOps
# Example environment configuration.
# Duplicate this file as `.env` and update the values to match your environment.
# Do not commit the `.env` file to source control; it may contain sensitive information.
# Note: `APP_PORT` is used by the Dockerfile to set the exposed port.

APP_PORT=3000
NODE_ENV=

DB_PORT=5432
DB_HOST=db
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

DATABASE_URL=postgresql://myuser:mypassword@db:5432/mydb